@model IEnumerable<ASP.NETCoreLoyaltyRewardsSystem.ViewModel.TransactionViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Previous Transactions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date of Transaction
            </th>
            <th>
                Amount Spent
            </th>
            <th>
                Points Used
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTransaction)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.AmountSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
        </tr>
}
    </tbody>
</table>
