html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


@media only screen and (max-width: 600px) {
    .horizontalBar {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .verticalBar {

        display: none;
    }
}