html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


@media only screen and (max-width: 600px) {
    .horizontalBar {
        width: 342px;
        left: 20px;
    }

    .tankH {
        position: absolute;
        transform: rotate(90deg);
        right: 172px;
        top: 132px;
        height: 319px;
        width: 27px;
        border: 1px solid black;
    }
}

@media only screen and (min-width: 600px) {
    .verticalBar {

        display: none;

    }
    .horizontalBar {
        width: 1000px;
    }
    .tankH {
        position: absolute;
        transform: rotate(90deg);
        right: 903px;
        top: -179px;
        height: 915px;
        width: 50px;
        border: 1px solid black;
    }



    .centreBar {
        margin: auto;
        text-align: center;
    }



}